<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rocketcalculator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rocketcalculator.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RocketCalculator</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$RocketCalculator</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Somee" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=RocketsDataBase.mssql.somee.com;Initial Catalog=RocketsDataBase;Persist Security Info=False;User ID=AveryPratt_SQLLogin_1;Password=nfsmnclb5m;Packet Size=4096;Workstation ID=RocketsDataBase.mssql.somee.com" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Somee_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="workstation id=RocketsDataBase.mssql.somee.com;&#xD;&#xA;         packet size=4096;&#xD;&#xA;         user id=AveryPratt_SQLLogin_1;&#xD;&#xA;         pwd=nfsmnclb5m;&#xD;&#xA;         data source=RocketsDataBase.mssql.somee.com;&#xD;&#xA;         persist security info=False;&#xD;&#xA;         initial catalog=RocketsDataBase" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ActiveConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=rocketcalculator.database.windows.net;Initial Catalog=RocketryDataBase;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ActiveConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:rocketcalculator.database.windows.net,1433;&#xD;&#xA;         Data Source=rocketcalculator.database.windows.net;&#xD;&#xA;         Initial Catalog=RocketryDataBase;&#xD;&#xA;         Persist Security Info=False;&#xD;&#xA;         User ID=AveryPratt;&#xD;&#xA;         Password=PYreva14;&#xD;&#xA;         MultipleActiveResultSets=False;&#xD;&#xA;         Encrypt=True;&#xD;&#xA;         TrustServerCertificate=False;&#xD;&#xA;         Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Local" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=RocketryWebApp;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.; &#xD;&#xA;         database=RocketryWebApp; &#xD;&#xA;         integrated security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ActiveConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Local-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Somee-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>