html, body, form, #wrapper{
    height: 100%;
    margin: 0;
}

header{
    border-bottom: solid 1px;
}

#HeaderDiv{
    padding-left: 100px;
    font-family: Arial, sans-serif;
}

#UserNameDiv{
    position: absolute;
    left: 0px;
    top: 45px;
    margin-left: 100px;
    font-family: Arial, sans-serif;
}

#LoginDiv{
    position: absolute;
    right: 0px;
    top: 60px;
    margin-right: 40px;
    font-family: Arial, sans-serif;
}

.LoginLink{
    margin-right: 10px;
}

#content{
    min-height: 100%;
    position: relative;
    background-color: #cccccc;
    overflow: auto;
    padding: 20px;
}

footer{
    border-top: solid 1px;
    padding: 0px 40px;
    height: 100px;
}

.ContentDiv{
    background-color: #999999;
    padding: 15px;
    margin: 0px 5px 10px 5px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
}

#CheckBoxDiv{
    float: left;
}

#TableDiv{
    float: right;
}

#RocketsDiv{
    clear: right;
    float: right;
}

#InstructionsDiv{
    clear: both;
}

.DescriptionDiv{
    background-color: #ffff99;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.CheckBoxDiv{
    background-color: #99ffff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.TableDiv{
    background-color: #cc99ff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.RocketsDiv{
    background-color: #ffcc99;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.InstructionsDiv{
    background-color: #99ff99;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#RocketTable{
    background-color: #cc99ff;
    margin: 5px;
    font-size: 12px;
}

#ErrorMessage{
    width: 380px;
    background-color: #ffffff;
    border: solid;
    border-width: 1px;
}

.Button{
    background-color: #b3b3b3;
    border-color: #808080;
    padding: 10px 30px;
    color: #333333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.TableCell{
    width: 100px;
}

error{
    color: #cc0000;
    font: bold;
}

noerror{
    color: #00cc00;
    font: bold;
}